.main {
  overflow: hidden;
  height: 100vh;
  position: relative;
}
.content {
  width: 1200px;
  margin: 100px auto 0 auto;
}

.video {
  width: 100%;
  min-height: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  transform: scale(100.3%);
  overflow: hidden;
}

.introduce {
  margin-top: 10px;
  font-size: 1.25rem;
}
