.w-from {
  display: grid;
  grid-template-areas:
    "title title"
    "len pwd"
    "key key"
    "writer writer"
    "ctt ctt"
    "button button";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 6fr 1fr;
  gap: 15px;
  height: 700px;
  margin-bottom: 15vw;
}

.w-f {
  font-size: 1.3rem;
}

.w-f-title {
  grid-area: title;
}
.w-f-len {
  grid-area: len;
}
.w-f-pwd {
  grid-area: pwd;
}
.w-f-key {
  grid-area: key;
}
.w-f-writer {
  grid-area: writer;
}
.w-f-content {
  grid-area: ctt;
}
.w-f-button {
  grid-area: button;
}
