.d-header {
  padding: 5px 0 5px 0;
}

.d-title {
  border-top: 1px solid black;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 5px 0 5px 0;
  border-bottom: 1px solid black;
}

.d-nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.d-n-update {
  color: gray;
  text-decoration: none;
}

.d-qTitle {
  margin-top: 100px;
  font-size: 1.2rem;
  font-weight: bold;
}

.d-question {
  border-bottom: 1px solid black;
}

.d-q {
  padding: 12px;
  min-height: 200px;
}

.d-aTitle {
  margin-top: 100px;
  font-size: 1.2rem;
  font-weight: bold;
}

.d-answer {
  border-bottom: 1px solid black;
}

.d-a {
  margin-top: 30px;
  border-top: 1px solid black;
  padding-bottom: 30px;
}

.d-a-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 1px solid black;
  padding: 5px 0;
}

.d-a-option {
  width: 10%;
  color: gray;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.d-a-content {
  padding: 10px 0;
}

.d-aWrite {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  height: 400px;
  font-family: Arial;
  font-size: 0.9rem;
  resize: none;
}

.d-form {
  display: flex;
  justify-content: flex-end;
}

.d-f-button {
  width: 72px;
  height: 38px;
  padding: 0;
  margin: 0;
}
